{% extends "layout.html" %}
{% block body %}
<div class="section banner">

			<div class="wrapper">

				<img class="hero" src="{{ url_for("static", filename="mike-the-frog.png") }}" alt="Mike the Frog says:">
				<div class="button">
					<a href="{{ url_for("shirts") }}">
						<h2>Hey, I&rsquo;m Mike!</h2>
						<p>Check Out My Shirts</p>
					</a>
				</div>
			</div>

		</div>

		<div class="section shirts latest">

			<div class="wrapper">

				<h2>Mike&rsquo;s Latest Shirts</h2>

				<?php include("inc/products.php"); ?>
				<ul class="products">
					{%  for product in product_data %}
                    	{{ product }}
                	{%  endfor %}
				</ul>

			</div>

		</div>
{% endblock %}